

.ilk-navbar ul li {
    margin-left:30px;
}

.ilk-navbar ul li a{
    text-decoration: none;
    color:white;
}

.drop{
    margin-left:500px;
    margin-top:55px;
}
.dropdown-menu.show {
    background-color: gray;
}


.section{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(images/arkaplan.jpg);
}


.container{
    display: flex;
    align-items: center;
    height: 70vh;
    justify-content: center;
}
.contant{
    width:40%;
    background-color: rgba(0,0,0,0.5);
}
.form-check{
    padding-left: 0 !important;
}

.form-control {
    background-color: grey !important;
}




