body{
    background-color: black;
    color:grey;
}


/* .container{

    width:80%;
    margin: auto;
} */


h4{
    text-align: center;
}


img{

    border-radius: 10px;
    
}




.son{
     display: flex;
    justify-content: center;
    
}
 


.ilk{
    display: flex;
    justify-content: center;

}

.btn{
    width: 30%;
   
}



.sis{
    width:280px;
    height:50px;
    border: 2px solid grey;
}

.sis h4 {
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.orta{
    justify-content: center;
}


.contant{
    width: 80%;
    height:60vh;
    
}
.container{
    width:90%;
    height:78vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ilk-navbar ul li {
    margin-left:30px;
}

.ilk-navbar ul li a{
    text-decoration: none;
    color:white;
}